# helm charts
kustomize/base/charts
kustomize/overlays/**/charts

# repo secrets 
.env 

# python stuff 
.venv
.ruff_cache/
__pycache__/
*.py[cod]
*$py.class

.vscode/

# project specific files
/sample_metadata.tsv
*.vcf
*.vcf.gz
!tests/fixtures/*.vcf.gz
