# helm charts
kustomize/base/charts
kustomize/overlays/**/charts

# repo secrets 
.env 

# python stuff 
.venv
.ruff_cache/
__pycache__/
*.py[cod]
*$py.class

.vscode/

experiments/version_entire_bucket/downloads/*.txt