# helm charts
kustomize/base/charts
kustomize/overlays/**/charts

# repo secrets 
.env 
.env*

# python stuff 
.venv
.ruff_cache/
__pycache__/
*.py[cod]
*$py.class

.vscode/

# project specific files
/sample_metadata.tsv
*.vcf
*.vcf.gz
*.vcf.gz.csi
!tests/fixtures/*.vcf.gz

# query job config files
bcftools_divbase_job_config.json

# benchmarking files
vcf_dimensions.tsv