/* Brand colors */
:root {
  --scilife-lime: #a7c947;
  --scilife-lime-075: #BDD775;
  --scilife-lime-050: #D3E4A3;
  --scilife-lime-025: #E9F2D1;

  /* Grape should be used modestly as a 'color pop' or on smaller details */
  --scilife-grape: #491F53;
  --scilife-grape-075: #77577E;
  --scilife-grape-050: #A48FA9;
  --scilife-grape-025: #D2C7D4;

  --scilife-teal: #045C64;
  --scilife-teal-075: #43858B;
  --scilife-teal-050: #82AEB2;
  --scilife-teal-025: #C0D6D8;
  --scilife-teal-light: #E6F2F3;

  --scilife-aqua: #4C979F;
  --scilife-aqua-075: #79B1B7;
  --scilife-aqua-050: #A6CBCF;
  --scilife-aqua-025: #D2E5E7;

  --scilife-light-grey: #E5E5E5;
  --scilife-medium-grey: #A6A6A6;
  --scilife-contrast-okay-grey: #727272;
  --scilife-dark-grey: #3F3F3F;
}

a {
  color: var(--scilife-teal);
}
body {
  font-family: "Roboto", Arial, sans-serif;
}



/* navbar control */
.navbar-brand {
  padding-top: auto;
  padding-bottom: 0;
}
.scilife-navbar-logo {
    height: clamp(2rem, 2vw, 3rem);
}
.scilife-nav-link {
  color: var(--scilife-dark-grey);
  font-size: 1.50rem;
  font-weight: 500;
  letter-spacing: 0.045rem;
}

/* footer control */
footer {
    background-color: #ebebeb;
}
.scilife-footer-text a {
  color: var(--scilife-teal);
  font-size: 1.00rem;
  font-weight: 500;
  letter-spacing: 0.045rem;
  text-decoration: none;
}
.scilife-footer-titles {
  color: var(--scilife-dark-grey);
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  margin-bottom: 0.5rem;
}
.scilife-footer-img {
  max-width: 150px;
}
@media (min-width: 1200px) {
  .scilife-footer-img {
    max-width: 140px;
  }
}
@media (min-width: 1400px) {
  .scilife-footer-img {
    max-width: 150px;
  }
}

/* projects card control */
.scilife-project-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 0.1rem solid var(--scilife-medium-grey);
  box-shadow: 0 0 0.2rem 0.2rem rgba(0, 0, 0, 0.08);
}
.scilife-project-card h2 {
  color: #222;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  margin-top: auto;
}
.scilife-project-card h3 {
  color: var(--scilife-dark-grey);
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
}
.scilife-project-button {
  font-size: 1.2rem;
  align-self: flex-end;
  margin-left: auto;
  color: var(--scilife-aqua);
  background-color: white;
  border-color: var(--scilife-aqua);
}
.scilife-project-button:hover,
.scilife-project-button:focus,
.scilife-project-button:active,
.scilife-project-button:active:focus {
  color: white;
  background-color: var(--scilife-aqua);
  border-color: var(--scilife-aqua);
}

/* numb project control */
.scilife-numb-project-badge {
  font-size: 1.25rem;
  background-color: var(--scilife-grape-075);
  color: white; 
}




