name: divbase-tests
services:
  rabbitmq:
    ports: !override # port mapping is additive when merging compose files, unless overridden like this
      - 5673:5672 #host:container. for the testing env, it's enough to change the host port. The container port remains the same since it is for internal container communication.
  worker-quick:
    environment:
      - S3_ENDPOINT_URL=http://host.docker.internal:9002
    volumes:
      - ../tests/fixtures:/app/tests/fixtures
    develop: !reset [] # no compose watch when running tests
  worker-long:
    environment:
      - S3_ENDPOINT_URL=http://host.docker.internal:9002
    volumes:
      - ../tests/fixtures:/app/tests/fixtures
    develop: !reset []
  minio:
    ports: !override
      - "9002:9000"
      - "9003:9001"
    volumes: !reset []
    tmpfs:
      - /data/
  fastapi:
    develop: !reset [] 
    ports: !override
      - 8001:8000
    environment:
      - DIVBASE_ENV=test
      - FRONTEND_BASE_URL=http://localhost:8001
      - S3_ENDPOINT_URL=http://host.docker.internal:9002
      - S3_PRESIGNING_URL=http://localhost:9002
  postgres:
    ports: !override
      - "5433:5432"
    volumes: !reset []
    tmpfs:
      - /var/lib/postgresql/data/pgdata
  mailpit:
    ports: !override
      - "1026:1025"
      - "8026:8025"
    volumes: !reset []
    tmpfs:
      - /data/