[project]
name = "divbase-api"
dynamic = ["version"]
readme = "../../README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi[standard]>=0.128.0,<1", 
    "uvicorn>=0.40.0,<1",
    "httpx>=0.28.1,<1",
    "asyncpg>=0.30.0,<1",
    "pyjwt>=2.10.1,<3",
    "pwdlib[argon2]>=0.3.0,<1",
    "starlette-admin>=0.16.0,<1",
    "emails>=0.6,<1",
    "jinja2>=3.1.6,<4",
    "celery>=5.6.2,<6",
    "alembic>=1.18.0,<2",
    "psycopg2-binary>=2.9.11,<3",
    "sqlalchemy[asyncio]>=2.0.45,<2.1", # a minor bump is considered a major change for sqlalchemy
    "divbase-lib" # always uses version in repo, handled by uv
]

[build-system]
requires = ["hatchling >= 1.26"]
build-backend = "hatchling.build"

[tool.hatch.version]
path = "src/divbase_api/__init__.py"

[tool.uv.sources]
divbase-lib = { workspace = true }
divbase-worker = { workspace = true }

[project.scripts]
divbase-api = "divbase_api.divbase_api:main"
