[project]
name = "divbase-api"
version = "0.1.0"
readme = "../../README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi[standard]>=0.115.12,<0.116",
    "uvicorn>=0.34.3,<1",
    "httpx>=0.28.1,<1",
    "sqlalchemy[asyncio]>=2.0.43,<3",
    "asyncpg>=0.30.0,<1",
    "pyjwt>=2.10.1,<3",
    "pwdlib[argon2]>=0.2.1,<1",
    "celery>=5.5.3,<6",
    "redis>=4.5.0,<5",
    "flower>=2.0.0,<3",
    "divbase-lib",
    "psycopg[binary]>=3.2.12,<4",
]

[build-system]
requires = ["hatchling >= 1.26"]
build-backend = "hatchling.build"

[tool.uv.sources]
divbase-lib = { workspace = true }
divbase-worker = { workspace = true }

[project.scripts]
divbase-api = "divbase_api.divbase_api:main"
