name: Build and Validate divbase-lib and divbase-cli for publication to PyPI and Test PyPI

on:
  workflow_call:
    outputs:
      artifact-name:
        description: "The name of the uploaded package artifact"
        value: "Packages"

jobs:
  build:
    name: Build divbase-lib and divbase-cli packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.15"
          enable-cache: true
      
      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Validate divbase-cli using latest divbase-lib version
        run: |
          uv run scripts/ci/validate_package_versions.py
      
      - name: Build packages
        run: |
          uv build --package divbase-lib --no-sources
          uv build --package divbase-cli --no-sources

      - name: Smoke test built packages
        run: |
          uv venv smoke-test
          source smoke-test/bin/activate
          uv pip install dist/divbase_lib-*.whl
          uv pip install dist/divbase_cli-*.whl
          python -c "import divbase_lib; import divbase_cli"
          divbase-cli --help
          divbase-cli --version

      - name: Upload built packages as artifact
        uses: actions/upload-artifact@v6
        with:
          name: Packages
          path: dist/