name: alembic migration scripts validation with pytest-alembic
on:
  pull_request:
    branches: 
      - main
    paths:
      - 'packages/divbase-api/src/divbase_api/migrations/**'
      - 'packages/divbase-api/src/divbase_api/models/**'
      - 'tests/migrations/**'
  push:
    branches:
      - main
    paths:
      - 'packages/divbase-api/src/divbase_api/migrations/**'
      - 'packages/divbase-api/src/divbase_api/models/**'
      - 'tests/migrations/**'

jobs:
  uv-example:
    name: python
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.15"
          enable-cache: true

      - name: Install the project
        run: uv sync --locked --dev

      - name: Run tests
        run: uv run pytest tests/migrations