name: Build and deploy the divbase documentation website
on:
  release:
    types: [published]
  workflow_dispatch:

  pull_request: # TODO - temporary for testing remove before merge 
    branches: 
    - main

permissions:
  contents: write

jobs:
  deploy-docs:
    if: github.repository == 'ScilifelabDataCentre/divbase'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.15"
          enable-cache: true

      - name: Install the project
        run: uv sync --locked --dev

      - name: Cache mkdocs deps
        uses: actions/cache@v5
        with: 
          key: ${{ github.ref }}
          path: .cache

      - name: Deploy documentation
        run: uv run mkdocs gh-deploy --force