name: Publish divbase-lib and divbase-cli packages to Test PyPI
on:
  workflow_dispatch:
  
  pull_request: # TODO - temporary, for testing purposes in this branch. 
    branches: 
      - main 
      - mkdocs 
jobs:
  build-divbase-lib-and-cli:
    name: Build divbase-lib and divbase-cli to Test PyPI
    runs-on: ubuntu-latest
    if: github.repository == 'ScilifelabDataCentre/divbase'

    steps:
      - uses: actions/checkout@v6
      
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.15"
          enable-cache: true
      
      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
      
      - name: Build packages
        run: |
          uv build --package divbase-lib --no-sources
          uv build --package divbase-cli --no-sources

      - uses: actions/upload-artifact@v6
        with:
          name: Packages
          path: dist/


  publish-to-test-pypi:
    name: Publish divbase-lib and divbase-cli to Test PyPI
    if: github.repository == 'ScilifelabDataCentre/divbase'
    needs: build-divbase-lib-and-cli

    runs-on: ubuntu-latest
    permissions:
      id-token: write  # For trusted publishing
    environment:
        name: testpypi
  
    steps:
      - name: Download previously built packages
        uses: actions/download-artifact@v7
        with:
          name: Packages
          path: dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
